body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 5em;
    font-weight: normal;
    margin: 0.8em 0;
}

h2 {
    font-size: 4em;
    font-weight: normal;
    margin: 0.45em 0 0.45em 50px;
}

button {
    border: black solid 4px;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    background-color: white;
}

button:hover,
#decPlayers,
#incPlayers {
    cursor: pointer;
}

li {
    margin: 15px 30px;
    font-size: 1.1em;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}

td:first-child,
th:first-child {
    text-align: center;
}

.menu {
    font-size: 2.5em;
    width: 275px;
    margin: 12px;
}

.menu.game {
    display: block;
    width: 400px;
}

.mgame {
    border: black solid 2px;
    border-radius: 10px;
    padding: 7px;
    font-size: 1.3em;
    margin: 0 8px;
}

.card {
    background-color: white;
    font-size: 5.5em;
    margin-left: -30px;
}

.action {
    width: 80px;
}

.wager {
    width: 65px;
}

.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.screen {
    width: 750px;
    height: 550px;
    margin: 0 auto;
}

.return {
    border: lightgray solid 4px;
    border-radius: 10px;
    color: gray;
    padding: 7px 11px;
}

.hidden {
    display: none;
}

.inline {
    display: inline-block;
}

.selected {
    background: linear-gradient(#fff, #d0d0d0);
}

.bigGameButton {
    border: black solid 3px;
    border-radius: 10px;
    font-size: 1.5em;
    padding: 7px;
    width: 175px;
}

.locked {
    border: #ddd solid 3px;
    color: #aaa;
}

.tournamentFeedback {
	font-size: 2em;
	text-align: center;
	width: 225px;
	margin: 100px auto -120px auto;
}

.return,
#hand0 {
    float: right;
}

#hand1 {
    float: left;
}

#roundText {
    font-size: 1.5em;
    margin: 5% 10% 0 10%;
}

#selectWager {
    font-size: 1.5em;
    font-weight: bold;
}

#players {
    margin: 0 10%;
}

#bank,
#won,
#loss {
    font-size: 1.3em;
    margin-top: -5px;
    text-align: center;
}

#hand0 {
    margin-right: 120px;
}

#hand1 {
    margin-left: 120px;
}

#player {
    position: relative;
    margin-left: 30px;
}

#splitCards {
    position: relative;
    left: 50px;
}

#double {
    position: relative;
    left: 50px;
    margin-right: -80px;
}

#split {
    position: relative;
    right: 40px;
    margin-left: -90px;
}

#leftBlock,
#rightBlock {
    z-index: 2;
    position: relative;
}

#middleBlock {
    margin: 0 -150px 0 -120px;
    width: 500px;
    z-index: 1;
    position: relative;
}
